@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Set your brand colors
$purple: #8a4d76;
$green: #65c886;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;
$dark: #353535;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $green;
$link: $green;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// Update some of Bulma's component variables
// $body-background-color: $dark;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
// Input Box
$input-focus-border-color: transparent;
$input-focus-box-shadow-color: transparent;

// Navbar
$navbar-background-color: $dark;
// Footer
$footer-background-color: $dark;
$footer-padding: 3rem 1.5rem 3rem;
// Import only what you need from Bulma
@import "../../node_modules/bulma/bulma.sass";
@import "../../node_modules/bulma-extensions/src/sass/index.sass";
